*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div1{
    height: 100vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2{
    height: 100vh;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div3{
    height: 100vh;
    background-color: rgb(48, 215, 120);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    width: 300px;
    height: 300px;
    background-color: black;
}